.avatar {
  height: 150px !important;
  width: 150px !important;
}

@media screen and (max-width: 768px) {
  .avatar {
    height: 100px !important;
    width: 100px !important;
  }

  .user-profile {
    padding: 0px !important;
  }
}

.username-box {
  align-items: center;
  margin-bottom: 10px;
}

.user-stats {
  margin-bottom: 15px;
}

.user-stat {
  margin-right: 20px;
}

.display-name {
  font-size: 1.15rem;
}

#edit-profile-btn,
#edit-profile {
  margin-left: 20px;
}

#edit-profile:hover,
#edit-profile:focus {
  background-color: #5a5959;
  transition: 0.2s ease-in all;
}

.user-profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0 50px;
}

.user-avatar-box {
  padding: 0px 40px;
  flex: 0.2;
}

.user-details {
  padding: 0px 10px;
}

#username {
  font-weight: lighter;
}

.bio {
  max-width: 500px;
}

@media screen and (max-width: 520px) {
  .user-profile {
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    margin-bottom: 20px;
  }
}

.posts-not-found > h3 {
  font-weight: lighter;
  font-size: 24px;
  color: #818181;
}

.posts-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
